@model StudentManager.Models.Account

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<style>
    .avatar {
        vertical-align: middle;
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }
</style>
<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
        </dt>
        <dd>
            <b> @Html.DisplayFor(model => model.UserName)</b>
        </dd>

        <hr/>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <br />

        
        <dt>
            FullName
        </dt>
        <dd>
            @Model.Person.FirstName @Model.Person.LastName
        </dd>
        <dt>Grade</dt>
        <dd>
            @foreach (var sg in Model.GradeStudents)
            {
                @sg.Grade.GradeName Write("  ");
            }
        </dd>
        <dt>
            Address
        </dt>
        <dd>
            @Model.Person.Address
        </dd>

        <dt>
            Birthday
        </dt>
        <dd>
            @Model.Person.BOD
        </dd>
        <dt>
            Phone
        </dt>
        <dd>
            @Model.Person.Phone
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Address</th>
            <th scope="col">FullName</th>
            <th scope="col">Birthday</th>
            <th scope="col">Gender</th>
            <th scope="col">Phone</th>
            <th scope="col">Grade</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Person.AccountId</td>
            <td>@Model.Person.Address</td>
            <td>@Model.Person.FirstName @Model.Person.LastName</td>
            <td>@Model.Person.BOD</td>
            <td>@Model.Person.Gender</td>
            <td>@Model.Person.Phone</td>
            <td>
                @foreach (var sg in Model.GradeStudents)
                {
                    @sg.Grade.GradeName Write("  ");
                }
                
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id"><i class="glyphicon glyphicon-pencil"></i></a>&nbsp;
                <a asp-action="AddGrade" asp-route-id="@Model.Id"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;
            </td>

        </tr>
    </tbody>
</table>
<div>
    @*<input asp-action="Index" type="submit" value="Back to List" class="btn btn-default" />*@
    <a asp-action="Index">Back to List</a>

</div>
