@model StudentManager.Models.Grade

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GradeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GradeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6" style="width:20%">
            <fieldset>
                <legend>Subject</legend>
                <table class="table">
                    <thead>
                        <tr class="success">
                            <th scope="col">Subject</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @foreach (var su in Model.SubjectGrades)
                                {
                                    <p>
                                        @su.Subject.Name
                                    </p>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>


        <div class="col-md-6" style="width:80%;">
            <fieldset>
                <legend>Information Student</legend>
                <table class="table">
                    <thead>
                        <tr class="success">
                            <th>FullName</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Gender</th>
                            <th>Phone</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var su in Model.GradeStudents)
                        {
                            <tr>
                                <td>@su.Account.Person.FirstName @su.Account.Person.LastName</td>
                                <td>@su.Account.Email</td>
                                <td>@su.Account.Person.Address</td>
                                <td>@su.Account.Person.Gender</td>
                                <td>@su.Account.Person.Phone</td>

                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </fieldset>
        </div>

    </div>
</div>
