@model IEnumerable<StudentManager.Models.Grade>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-danger">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="warning">
            <th>
                @Html.DisplayNameFor(model => model.GradeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Subject
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GradeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @foreach(var s in item.SubjectGrades)
                {
                    @s.Subject.Name
                }
               
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-info">Delete</a> 
                <a asp-action="AddSubject" asp-route-id="@item.Id" class="btn btn-info">AddSubject</a>
            </td>
        </tr>
       
}
    </tbody>
</table>
