@model IEnumerable<StudentManager.Models.Grade>

@{
    ViewData["Title"] = "Index";
}
<div class="left">
    <div class="list-group">
        <a href="#" class="list-group-item active">
            Trang chủ
        </a>
        <a href="#" class="list-group-item">Sinh Viên</a>
        <a href="#" class="list-group-item">Giáo Vụ</a>
        <a href="#" class="list-group-item">Môn Học</a>
        <a href="#" class="list-group-item">Điểm</a>
        <a href="#" class="list-group-item">Lớp Học</a>
    </div>
</div>
<div class="right">

    <h2>Index</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GradeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th> <a asp-action="Create" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>Create</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GradeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="glyphicon glyphicon-list-alt"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1"><i class="glyphicon glyphicon-trash"></i></a>|
                        <a asp-action="AddSubject" asp-route-id="@item.Id"><i class="glyphicon glyphicon-plus"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="pagination">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
